/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #3e3e3e;
}

.bg-penguin-facion {
  background-color: #fff9f4;
}

.pengin-logo {
  height: 1.5rem;
}

.brand-color {
  color: #fa804c;
}

.brand-secondery-color {
  color: #363958;
}

.cart-logo {
  height: 1.12rem;
}

.bg-penguin-btn {
  background-color: #3d4ff3;
}

.penguin-secondery-heading {
  font-size: 3rem;
  color: #363958;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.penguin-gray {
  background-color: rgba(0, 0, 0, 0.15);
}
.panda-price {
  color: #fab04c;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 0;
}
